<% content_for :cover do %>
  <div class="cover">
    <div class="cover-inner">
      <div class="cover-contents">
        <h1>素敵なお店を見つけよう</h1>
        <a href="" class="btn btn-success btn-lg">レストランリストを始める</a>
      </div>
    </div>
  </div>
<% end %>
<p>テスト</p>